@model IEnumerable<ArtShop.Data.Model.CartItem>
@{
    ViewBag.Title = "Cart";
}


<aside>

    <a href="/Shop">Seguir Comprando</a>
    <br />
    <u>Total General:</u>

</aside>

<article>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cart.Cookie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                Borrar
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Cart.Cookie)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>

</article>

