<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <header>
        <div class="width80Center">
            <a href="/">ART SHOP</a>
            <div class="right">
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </header>
    <nav>
        <div class="width80Center">
            <ul>
                <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
                <li>@Html.ActionLink("Shop", "Index", "Shop")</li>
                @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                {
                    <li>@Html.ActionLink("Artistas", "Index", "Artist")</li>
                    <li>@Html.ActionLink("Productos", "Index", "Product")</li>
                }
                <li>@Html.ActionLink("Acerca de", "About", "Home")</li>
                <li class="right">@Html.ActionLink("Carrito", "Cart", "Cart")</li>
            </ul>
        </div>
    </nav>
    <section>
        @RenderBody()
    </section>
    <footer>
        <p>Nombre del Grupo</p>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
