@model IEnumerable<ArtShop.Data.Model.Product>
@{
    ViewBag.Title = "ToList";
}

<div class="post">
    <h2 class="title">Lista de Productos</h2>
    <p class="byline">Hay un total de: @Enumerable.Count(Model) Productos </p>
    <div class="entry">
        <p>

        </p>
    </div>

    <div>
        <table>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Artist.FullName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Image)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.QuantitySold)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AvgStars)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    Operaciones
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(model => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.Artist.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.Image)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.QuantitySold)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.AvgStars)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.Description)
                    </td>
                    <td>
                        @Html.ActionLink("Editar", "../Product/Edit", new { id = item.Id })
                        @Html.ActionLink("Eliminar", "../Product/Delete", new { id = item.Id })
                    </td>


                </tr>

            }
        </table>
    </div>
</div>